<div class="container">
    <h1 style="text-align:center;color:blue;">Enter Book Detail</h1>
    <div class="container ">
        <form action="" class="form-horizontal" ng-init="isUpdate()">
            <div class="form-group has-success mb-3 row">
                <label class="control-label col-sm-2" for="id1">Id</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text"  data-ng-model="Book.uid" disabled id="sid" placeholder="Enter your Book Name">
                </div>
            </div>
            <div class="form-group has-success mb-3 row">
                <label class="control-label col-sm-2" for="id1">Book Name</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" data-ng-model="Book.bookName" id="id1" placeholder="Enter your First Name">
                </div>
            </div>

            <div class="form-group has-success mb-3 row">
                <label class="control-label col-sm-2" for="id2">Author</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" data-ng-model="Book.author" id="id2" placeholder="Enter your Last name">
                </div>
            </div>
            <div class="form-group has-success mb-3 row">
                <label class="control-label col-sm-2" for="id2">Total Copy </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" data-ng-model="Book.totalCopy" id="id2" placeholder="Enter your email">
                </div>
            </div>
            <div class="form-group has-success mb-3 row">
                <label class="control-label col-sm-2" for="id2">Available Copy</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" data-ng-model="Book.availableCopy" id="id2" placeholder="Enter your mobile">
                </div>
            </div>
            <div class="container ">
                <button type="button" class="btn btn-primary"data-ng-click="save(Book)">OK</button>
                <a class="btn btn-secondary" href="#/viewBooks"> Cancel</a>
            </div>
        </form>
    </div>
</div>